.simple-photo {
    margin: 0;
    padding: 0;
    width: 1280px;
}

.header {
    margin: 0;
    padding: 0;
    height: 880px;
}

.nav {
    padding-left: 330px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.text-uppercase {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.header-menu-item {
    display: inline-block;
    margin-right: 70px;
    text-decoration: none;
    font-size: 18px;
    color: #54b9a6;
}

.header-menu-image {
    opacity: .85;
}

.main {
    margin: 0;
    /*Исправил: padding-top padding-right padding-left padding-bottom*/
    padding: 60px 110px 95px;
    background-color: #f5f6f7;
    text-align: center;
    font-family: sans-serif;
}

.main-headline {
    margin-bottom: 34px;
    font-size: 22px;
    color: #373737;
}

.ain-text1 .main-text2 .footer-text  {
    font-size: 16px;
    font-family: sans-serif;
    color: #373737;
}
.main-text2 {
    margin-bottom: 0;
}
.transition-button-link {
    display: inline-block;
    margin-top: 40px;
    padding: 25px 45px;
    background-color: #16a085;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
}

.footer {
    text-align: center;
    /*Использовал  text-align: center; вместо того что ниже заккоментировано - так делать не надо*/
    /*padding-right: 100px;*/
    /*padding-top: 45px;*/
    /*padding-bottom: 45px;*/
}
.footer-text {
    text-align: right;
    color: #111111;
}